<h1><%=@venue.name%></h1><br>

<% @events.each do |event| %>
<% @band = Band.find(event.band_id) %>
 <h3><%= event.date %></h3>
 <br><p>Alcohol Served: <%= event.alcohol_served %></p>
 <p>Band: <%= @band.name %></p>

<% end %>



<br><br><%= link_to "New event", new_venue_event_path(@venue) %>
