<!DOCTYPE html>
<html>
<head>
  <title>BandApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	

		<div class='pure-g'>
			<div class="pure-u-1 header">
				Welcome to the Ultimate Concert Manager
			</div>
			<div class="pure-u-1 navlinks">
				<div class="pure-menu pure-menu-horizontal">
				    <ul class="pure-menu-list">
					    <li class="pure-menu-item"><%= link_to "Venues", venues_path(@venue) %></li>
					    <li class="pure-menu-item"><%= link_to "Bands", bands_path(@venue) %></li>
					    <li class="pure-menu-item"><%= link_to "Events", venues_events_path %></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="pure-g">
			<div class="pure-u-1 head_bar">
			</div>
		</div>
	

<%= yield %>


		<div class="pure-g">
			<div class="pure-u-1 copyright">
				<footer>
				 	<small>© Copyright 2015, Xi Dan Matt</small>
				</footer>
			</div>
		</div>
</body>

</html>
